{% extends 'base.html.twig' %}

{% block title %}Show index{% endblock %}

{% block body %}
    <h1 class="mb-4">Show index</h1>
    <div class="container footer-bas-tarif">
        <table class="table">
            <thead>
            <tr>
                <th>Spectacle</th>
                <th>Tarif Adulte</th>
                <th>Tarifs Enfant</th>
                <th>Groupe (plus de 10 pers.)</th>
                {% if app.user %}
                    <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for show in shows %}
                <tr>
                    <td>{{ show.name }}</td>
                    <td>{{ show.priceAdult }}</td>
                    <td>{{ show.priceChild }}</td>
                    <td><a href="{{ path('app_contact') }}" class="link-tarif">Nous Contacter</a></td>
                    {% if app.user %}
                        <td>
                            <a href="{{ path('show_edit', {'id': show.id}) }}"
                               class="button-pink-spe"><span>Edition</span></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if app.user %}
            <a href="{{ path('show_new') }}" class="button-pink"><span>Créer un nouveau tarif</span></a>
        {% endif %}
    </div>
{% endblock %}
