<div class="form-security">
    {{ form_start(form) }}
    <div class="mt-2 mb-3 form-new-label">
        {{ form_row(form.name, {
            attr: { 'placeholder': 'Nom'}},
            {'label_attr': {'class': 'artist-nouveau'}}) }}
    </div>
    <div class="mt-2 mb-3 form-new-label">
        {{ form_row(form.type, {
            attr: { 'placeholder': "Type d'artiste"}},
            {'label_attr': {'class': 'artist-nouveau'}}) }}
    </div>
    <div class="mt-2 mb-3 form-new-label">
        {{ form_row(form.picture, {
            attr: { 'placeholder': 'Chargez une photo'}},
            {'label_attr': {'class': 'artist-nouveau'}}) }}
    </div>
    <div class="mt-2 mb-3 form-new-label">
        {{ form_row(form.description, {
            attr: { 'placeholder': 'Description'}},
            {'label_attr': {'class': 'artist-nouveau'}}) }}
    </div>
    <div class="mt-2 mb-3 form-new-label">
        {{ form_row(form.role, {
            attr: { 'placeholder': "Rôle"}},
            {'label_attr': {'class': 'artist-nouveau'}}) }}
    </div>
    <button class="btn btn-lg btn-dark button-form">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}

</div>