<div class="footer-all">
    <div class="bloc-footer1">
        <img src="{{ asset('build/LOGO.png') }}" class="footer-logo"
             alt="logo Wild Circus">
        <a class="nav-a"
           href="{{ path('app_home') }}"><span class="nav-text">Accueil</span></a>
        <a class="nav-a"
           href="{{ path('artist_index') }}"><span class="nav-text">Artistes</span></a>
        <a class="nav-a"
           href="{{ path('show_index') }}"><span class="nav-text">Tarifs</span></a>
        <a class="nav-a"
           href="#"><span class="nav-text">Pré-réservation</span></a>
        <a class="nav-a"
           href="{{ path('app_contact') }}"><span class="nav-text">Contact</span></a>
        {% if app.user %}
            <a class="nav-a" href="{{ path('app_logout') }}"><span class="nav-text">Déconnexion</span></a>
        {% else %}
            <a class="nav-a" href="{{ path('app_login') }}"><span class="nav-text">Connexion</span></a>
        {% endif %}
    </div>
    <div class="bloc-footer2">
        <a href="#"><span>CGV</span></a>
        <p>© Copyright 2019 Wild Code School - Céladon Malika</p>
    </div>
</div>

